extends ./_app.jade

block head
  script(src="/file.js", type="text/javascript")

block body
  .file--overall-score
    .nav
      a(href="/") summary
    span
      | #{file_score}
    h1= title

  .file--issues-data(data="#{issues_json}")

  .file--nav
    .file--issues
      if snippets
        each snippet in snippets
          .file--issue(id="#{snippet.issue.id}")
            .file--issue--reason
              pre.file--issue--pre
                | #{snippet.issue.msg}

            .file--snippet
              | !{snippet.code}
