extends ./_app.jade

block body
  .files
    .files--overall-score
      span= stats.project_score
      h1= project_name
    .files--stats
      table
        each stat, key in stats
          tr: td.files--stats--title= key
            td.files--stats--value= stat

    h3 hall of the punished

    p: strong text
    table: tr: td text

    input.class(type='text')

    each file, idx in files
      if idx > 0 && files[idx - 1].score < 100 && files[idx].score == 100
        .files--split-at-imperfect-files
      .files--brief-details
        .file--path
          a.file--show(href="/#{file.path}")= file.path
        .file--score
          unless file.number_issues <= 1 && file.score == 100
            | (#{file.number_issues})
          | #{file.score}%
